
*.db
*.bin
*.ipch
.vs/WatcherTest/v16/.suo
.vs/WatcherTest/v17/.suo
WatcherTest/x64/Debug/message.obj
WatcherTest/x64/Debug/RPCtransport.obj
WatcherTest/x64/Debug/timerengine.obj
WatcherTest/x64/Debug/vc142.idb
WatcherTest/x64/Debug/vc142.pdb
WatcherTest/x64/Debug/vcpkg.applocal.log
WatcherTest/x64/Debug/watcher.obj
WatcherTest/x64/Debug/WatcherTest.Build.CppClean.log
WatcherTest/x64/Debug/WatcherTest.exe.recipe
WatcherTest/x64/Debug/WatcherTest.ilk
WatcherTest/x64/Debug/WatcherTest.log
WatcherTest/x64/Debug/WatcherTest.obj
WatcherTest/x64/Debug/WatcherTest.tlog/CL.command.1.tlog
WatcherTest/x64/Debug/WatcherTest.tlog/CL.read.1.tlog
WatcherTest/x64/Debug/WatcherTest.tlog/CL.write.1.tlog
WatcherTest/x64/Debug/WatcherTest.tlog/link.command.1.tlog
WatcherTest/x64/Debug/WatcherTest.tlog/link.read.1.tlog
WatcherTest/x64/Debug/WatcherTest.tlog/link.write.1.tlog
WatcherTest/x64/Debug/WatcherTest.tlog/WatcherTest.lastbuildstate
WatcherTest/x64/Debug/WatcherTest.tlog/WatcherTest.write.1u.tlog
WatcherTest/x64/Debug/WatcherTest.vcxproj.FileListAbsolute.txt
x64/Debug/WatcherTest.exe
x64/Debug/WatcherTest.pdb
